


<div style="box-sizing:border-box;max-width:340px;margin-left: auto; margin-right: 230px; ">
 <div style="box-sizing:border-box;display:flex;-webkit-box-align:center;align-items:center;justify-content:space-evenly;height:48px;border-radius:8px;background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);text-transform:uppercase;">
    <div style="box-sizing:border-box;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;padding:0px 12px;border-top:2px solid rgba(0, 0, 0, 0);border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:rgb(252, 148, 45);height:48px;color:rgb(252, 148, 45);text-transform:uppercase;"><svg height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="PriceTag3FillTitleID" style="fill: currentcolor; stroke: currentcolor; stroke-width: 0;stroke:rgb(252, 148, 45);stroke-width:0px;overflow:hidden;vertical-align:middle;box-sizing:border-box;">
            <title style="box-sizing:border-box;">PriceTag3Fill Icon</title>
            <path fill="none" d="M0 0h24v24H0z" style="box-sizing:border-box;"></path>
            <path d="M10.9 2.1l9.899 1.415 1.414 9.9-9.192 9.192a1 1 0 01-1.414 0l-9.9-9.9a1 1 0 010-1.414L10.9 2.1zm2.828 8.486a2 2 0 102.828-2.829 2 2 0 00-2.828 2.829z" style="box-sizing:border-box;"></path>
        </svg><span font-weight="500" style="box-sizing:border-box;margin-left:12px;color:rgb(252, 148, 45);font-size:14px;letter-spacing:1px;margin:0px 0px 0px 12px;font-weight:500;">Annonces premium</span></div>
</div>
    <div data-testid="AdGridCard0" style="box-sizing:border-box;margin-top:16px;position:relative;border-radius:8px;overflow:hidden;background-color:rgb(255, 255, 255);width: 100%;max-width:560px;"><a href="/vi/52619208.htm" style="color:rgb(46, 107, 255);text-decoration:none solid rgb(46, 107, 255);background-color:rgba(0, 0, 0, 0);box-sizing:border-box;height:261px;display:flex;flex-direction:column;max-width:560px;">
            <div style="box-sizing:border-box;position:relative;">
                <div style="box-sizing:border-box;position:relative;">
                    <div style="height: 182px;box-sizing:border-box;position:relative;display:flex;"><img src="https://content.avito.ma/images/10/10093207056.jpg" alt="HP Elite 8200 Ultra Slim Desktop PC i5" style="vertical-align:middle;border-style:none;box-sizing:border-box;height:182px;width: 100%;max-width:100%;max-height:100%;transition:opacity 0.25s ease 0s;object-fit:cover;opacity:1;" /></div>
                </div>
            </div>
            <div style="margin:0px 16px;box-sizing:border-box;position:relative;overflow:hidden;display:flex;flex-direction:column;-webkit-box-pack:justify;justify-content:space-between;-webkit-box-flex:1;flex-grow:1;">
                <div style="box-sizing:border-box;">
                    <div style="box-sizing:border-box;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:justify;justify-content:space-between;margin-top:12px;margin-bottom:4px;"><span data-testid="adPrice" style="font-size:24px;box-sizing:border-box;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;line-height:24px;color:rgb(46, 107, 255);font-weight:400;margin:0px;">
                            <div style="box-sizing:border-box;"><span dir="auto" style="box-sizing:border-box;">1,090</span> <span style="box-sizing:border-box;">DH</span></div>
                        </span>
                        <div style="box-sizing:border-box;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;--height:20px;border-radius:20px;background-color:rgb(254, 234, 213);height:20px;padding:0px 8px;"><svg height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="PriceTag3FillTitleID" style="fill: rgb(252, 148, 45); stroke: rgb(252, 148, 45); stroke-width: 0;stroke:rgb(252, 148, 45);stroke-width:0px;overflow:hidden;vertical-align:middle;box-sizing:border-box;width: 14px;height:14px;">
                                <title style="box-sizing:border-box;">PriceTag3Fill Icon</title>
                                <path fill="none" d="M0 0h24v24H0z" style="box-sizing:border-box;"></path>
                                <path d="M10.9 2.1l9.899 1.415 1.414 9.9-9.192 9.192a1 1 0 01-1.414 0l-9.9-9.9a1 1 0 010-1.414L10.9 2.1zm2.828 8.486a2 2 0 102.828-2.829 2 2 0 00-2.828 2.829z" style="box-sizing:border-box;"></path>
                            </svg>
                            <p style="margin-top:0px;margin-bottom:0px;box-sizing:border-box;font-weight:700;color:rgb(252, 148, 45);font-size:12px;letter-spacing:0.4px;text-transform:uppercase;">premium</p>
                        </div>
                    </div>
                    <h3 data-testid="adSubject" style="font-size:16px;margin-bottom:0px;font-weight:400;line-height:normal;margin-top:0px;box-sizing:border-box;display:block;width: 100%;text-align:left;color:rgb(74, 74, 74);letter-spacing:0.5px;margin:0px;"><span dir="auto" style="box-sizing:border-box;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;">HP Elite 8200 Ultra Slim Desktop PC i5</span></h3>
                </div>
                <div style="box-sizing:border-box;">
                    <div style="box-sizing:border-box;display:flex;-webkit-box-align:center;align-items:center;line-height:16px;margin-top:10px;margin-bottom:11px;"></div>
                </div>
            </div>
        </a></div>
    <div data-testid="AdGridCard1" style="box-sizing:border-box;margin-top:16px;position:relative;border-radius:8px;overflow:hidden;background-color:rgb(255, 255, 255);width: 100%;max-width:560px;"><a href="/vi/52702076.htm" style="color:rgb(46, 107, 255);text-decoration:none solid rgb(46, 107, 255);background-color:rgba(0, 0, 0, 0);box-sizing:border-box;height:261px;display:flex;flex-direction:column;max-width:560px;">
            <div style="box-sizing:border-box;position:relative;">
                <div style="box-sizing:border-box;position:relative;">
                    <div style="height: 182px;box-sizing:border-box;position:relative;display:flex;"><img src="https://content.avito.ma/images/10/10094275165.jpg" alt="Tiguan R-line " style="vertical-align:middle;border-style:none;box-sizing:border-box;height:182px;width: 100%;max-width:100%;max-height:100%;transition:opacity 0.25s ease 0s;object-fit:cover;opacity:1;" /></div>
                </div>
            </div>
            <div style="margin:0px 16px;box-sizing:border-box;position:relative;overflow:hidden;display:flex;flex-direction:column;-webkit-box-pack:justify;justify-content:space-between;-webkit-box-flex:1;flex-grow:1;">
                <div style="box-sizing:border-box;">
                    <div style="box-sizing:border-box;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:justify;justify-content:space-between;margin-top:12px;margin-bottom:4px;"><span data-testid="adPrice" style="font-size:24px;box-sizing:border-box;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;line-height:24px;color:rgb(46, 107, 255);font-weight:400;margin:0px;">
                            <div style="box-sizing:border-box;"><span dir="auto" style="box-sizing:border-box;">240,000</span> <span style="box-sizing:border-box;">DH</span></div>
                        </span>
                        <div style="box-sizing:border-box;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;--height:20px;border-radius:20px;background-color:rgb(254, 234, 213);height:20px;padding:0px 8px;"><svg height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="PriceTag3FillTitleID" style="fill: rgb(252, 148, 45); stroke: rgb(252, 148, 45); stroke-width: 0;stroke:rgb(252, 148, 45);stroke-width:0px;overflow:hidden;vertical-align:middle;box-sizing:border-box;width: 14px;height:14px;">
                                <title style="box-sizing:border-box;">PriceTag3Fill Icon</title>
                                <path fill="none" d="M0 0h24v24H0z" style="box-sizing:border-box;"></path>
                                <path d="M10.9 2.1l9.899 1.415 1.414 9.9-9.192 9.192a1 1 0 01-1.414 0l-9.9-9.9a1 1 0 010-1.414L10.9 2.1zm2.828 8.486a2 2 0 102.828-2.829 2 2 0 00-2.828 2.829z" style="box-sizing:border-box;"></path>
                            </svg>
                            <p style="margin-top:0px;margin-bottom:0px;box-sizing:border-box;font-weight:700;color:rgb(252, 148, 45);font-size:12px;letter-spacing:0.4px;text-transform:uppercase;">premium</p>
                        </div>
                    </div>
                    <h3 data-testid="adSubject" style="font-size:16px;margin-bottom:0px;font-weight:400;line-height:normal;margin-top:0px;box-sizing:border-box;display:block;width: 100%;text-align:left;color:rgb(74, 74, 74);letter-spacing:0.5px;margin:0px;"><span dir="auto" style="box-sizing:border-box;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;">Tiguan R-line </span></h3>
                </div>
                <div style="box-sizing:border-box;">
                    <div style="box-sizing:border-box;display:flex;-webkit-box-align:center;align-items:center;line-height:16px;margin-top:10px;margin-bottom:11px;"></div>
                </div>
            </div>
        </a></div>
</div>
