<style>
    .style-0 {
        display: block;
        box-sizing: border-box;
        position: sticky;
        top: 0px;
        z-index: 1030;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
        background-color: rgba(255, 255, 255, 0.96);
        margin:-10px;
    }

    .style-1 {
        box-sizing: border-box;
        height: 40px;
        background-color: rgb(45, 45, 45);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 100%;
        padding: 8px;
    }

    .style-2 {
        max-width: 1280px;
        box-sizing: border-box;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        --gutter: 8px;
        padding-right: 8px;
        padding-left: 8px;
    }

    .style-3 {
        margin-top: 0px;
        margin-bottom: 0px;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        height: 19px;
        padding: 0px;
    }

    .style-4 {
        box-sizing: border-box;
        padding: 0px;
        color: rgb(255, 255, 255);
        display: flex;
        list-style: outside none none;
        height: 19px;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 15px;
        transition: all 0.5s ease 0s;
        margin: 0px 8px;
        position: relative;
    }

    .style-5 {
        color: rgb(255, 255, 255);
        text-decoration: none solid rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
        font-size: 12px;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        display: flex;
        padding: 0px 8px;
    }

    .style-6 {
        fill: rgb(255, 255, 255);
        stroke: rgb(255, 255, 255);
        stroke-width: 0;
        stroke: rgb(255, 255, 255);
        stroke-width: 0px;
        overflow: hidden;
        vertical-align: middle;
        box-sizing: border-box;
        margin-right: 4px;
    }

    .style-7 {
        box-sizing: border-box;
    }

    .style-8 {
        box-sizing: border-box;
    }

    .style-9 {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        display: flex;
        list-style: outside none none;
        padding: 0px 4px;
        height: 18px;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 15px;
        transition: all 0.5s ease 0s;
        margin: 0px 8px;
        position: relative;
    }

    .style-10 {
        color: rgb(255, 255, 255);
        text-decoration: none solid rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
        font-size: 12px;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        display: flex;
        padding: 0px 8px;
    }

    .style-11 {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        display: flex;
        list-style: outside none none;
        padding: 0px 4px;
        height: 18px;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 15px;
        transition: all 0.5s ease 0s;
        margin: 0px 8px;
        position: relative;
    }

    .style-12 {
        color: rgb(255, 255, 255);
        text-decoration: none solid rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
        font-size: 12px;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        display: flex;
        padding: 0px 8px;
    }

    .style-13 {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        display: flex;
        list-style: outside none none;
        padding: 0px 4px;
        height: 18px;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 15px;
        transition: all 0.5s ease 0s;
        margin: 0px 8px;
        position: relative;
    }

    .style-14 {
        color: rgb(255, 255, 255);
        text-decoration: none solid rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
        font-size: 12px;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        display: flex;
        padding: 0px 8px;
    }

    .style-15 {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        display: flex;
        list-style: outside none none;
        padding: 0px 4px;
        height: 18px;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 15px;
        transition: all 0.5s ease 0s;
        margin: 0px 8px;
        position: relative;
    }

    .style-16 {
        color: rgb(255, 255, 255);
        text-decoration: none solid rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
        font-size: 12px;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        display: flex;
        padding: 0px 8px;
    }

    .style-17 {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        display: flex;
        list-style: outside none none;
        padding: 0px 4px;
        height: 18px;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 15px;
        transition: all 0.5s ease 0s;
        margin: 0px 8px;
        position: relative;
    }

    .style-18 {
        color: rgb(255, 255, 255);
        text-decoration: none solid rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
        font-size: 12px;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        display: flex;
        padding: 0px 8px;
    }

    .style-19 {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        display: flex;
        list-style: outside none none;
        padding: 0px 4px;
        height: 18px;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 15px;
        transition: all 0.5s ease 0s;
        margin: 0px 8px;
        position: relative;
    }

    .style-20 {
        color: rgb(255, 255, 255);
        text-decoration: none solid rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
        font-size: 12px;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        display: flex;
        padding: 0px 8px;
    }

    .style-21 {
        box-sizing: border-box;
        margin-left: auto;
        color: rgb(255, 255, 255);
        display: flex;
        list-style: outside none none;
        padding: 0px 4px;
        height: 19px;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 15px;
        transition: all 0.5s ease 0s;
        margin: 0px 8px 0px 407.922px;
        position: relative;
    }

    .style-22 {
        color: rgb(255, 255, 255);
        text-decoration: none solid rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
        font-size: 12px;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        display: flex;
        padding: 0px 8px;
    }

    .style-23 {
        fill: rgb(255, 255, 255);
        stroke: rgb(255, 255, 255);
        stroke-width: 0;
        stroke: rgb(255, 255, 255);
        stroke-width: 0px;
        overflow: hidden;
        vertical-align: middle;
        box-sizing: border-box;
        margin-right: 4px;
    }

    .style-24 {
        box-sizing: border-box;
    }

    .style-25 {
        box-sizing: border-box;
    }

    .style-26 {
        box-sizing: border-box;
    }

    .style-27 {
        height: 62px;
        max-width: 1280px;
        box-sizing: border-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        --gutter: 8px;
        padding-right: 8px;
        padding-left: 8px;
    }

    .style-28 {
        box-sizing: border-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .style-29 {
        width: 160px;
        color: rgb(46, 107, 255);
        text-decoration: none solid rgb(46, 107, 255);
        background-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        height: 56px;
    }

    .style-30 {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        margin: 0px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        margin: 0px;
    }

    .style-31 {
        box-sizing: border-box;
        display: block;
        max-width: 100%;
        display: block;
        max-width: 100%;
    }

    .style-32 {
        max-width: 100%;
        display: block;
        margin: 0px;
        border: none;
        padding: 0px;
        display: block;
        margin: 0px;
        border: 0px none rgb(46, 107, 255);
        padding: 0px;
        vertical-align: middle;
        border-style: none;
        box-sizing: border-box;
    }

    .style-33 {
        position: absolute;
        inset: 0px;
        box-sizing: border-box;
        padding: 0px;
        border: none;
        margin: auto;
        display: block;
        width: 0px;
        height: 0px;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        inset: 0px;
        box-sizing: border-box;
        padding: 0px;
        border: 0px none rgb(46, 107, 255);
        margin: auto;
        display: block;
        width: 0px;
        height: 56px;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        vertical-align: middle;
        border-style: none;
    }

    .style-34 {
        box-sizing: border-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .style-35 {
        font-size: 16px;
        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;
        box-sizing: border-box;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        -webkit-box-align: center;
        align-items: center;
        color: rgb(74, 74, 74);
    }

    .style-36 {
        margin-right: 16px;
        box-sizing: border-box;
    }

    .style-37 {
        font-weight: 400;
        color: rgb(74, 74, 74);
        text-decoration: none solid rgb(74, 74, 74);
        background-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
        padding: 4px 8px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.25s ease 0s;
        position: relative;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        text-transform: uppercase;
    }

    .style-38 {
        fill: rgb(74, 74, 74);
        stroke: rgb(74, 74, 74);
        stroke-width: 0;
        stroke: rgb(74, 74, 74);
        stroke-width: 0px;
        overflow: hidden;
        vertical-align: middle;
        box-sizing: border-box;
        margin: 0px 8px 0px 4px;
        margin-right: 8px;
    }

    .style-39 {
        box-sizing: border-box;
    }

    .style-40 {
        box-sizing: border-box;
    }

    .style-41 {
        box-sizing: border-box;
    }

    .style-42 {
        margin-right: 16px;
        box-sizing: border-box;
    }

    .style-43 {
        box-sizing: border-box;
        position: relative;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        cursor: pointer;
        height: 32px;
        padding-left: 8px;
    }

    .style-44 {
        box-sizing: border-box;
        margin-left: 4px;
        max-width: 128px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-transform: uppercase;
    }

    .style-45 {
        box-sizing: border-box;
        margin-right: 0px;
    }

    .style-46 {
        margin-bottom: 0px;
        cursor: pointer;
        appearance: button;
        text-transform: uppercase;
        overflow: visible;
        font-family: Rubik, Roboto, Tajawal, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
        font-size: 14px;
        line-height: 14px;
        border-radius: 100px;
        box-sizing: border-box;
        padding: 8px 24px;
        --bg-color: #29A160;
        --border-color: #29A160;
        --text-color: #FFFFFF;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        border-width: 1px;
        border-style: solid;
        border-image: none;
        width: 100%;
        letter-spacing: 0.8px;
        height: 40px;
        min-width: 90px;
        transition: background-color 0.08s ease-in-out 0s, border-color 0.08s ease-in-out 0s, box-shadow 0.06s ease-in-out 0s;
        background-color: rgb(41, 161, 96);
        border-color: rgb(41, 161, 96);
        color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 2px;
    }

    .style-47 {
        box-sizing: border-box;
        margin-left: -2px;
        margin-right: 10px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .style-48 {
        fill: currentcolor;
        stroke: currentcolor;
        stroke-width: 0;
        stroke: rgb(255, 255, 255);
        stroke-width: 0px;
        overflow: hidden;
        vertical-align: middle;
        box-sizing: border-box;
    }

    .style-49 {
        box-sizing: border-box;
    }

    .style-50 {
        box-sizing: border-box;
    }
    .line{
        margin-left:12px;
        font-weight:bold;
        /* width:1px;
        height:70%; */

        /* height:50px; */
        /* padding:12px; */
    }
</style>
<nav class="style-0">
    <div class="style-1">
        <div class="style-2">
            <ul class="style-3">
                <li class="style-4"><a href="https://www.avito.ma/" class="style-5"><svg class="style-6" height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="AvitoIconTitleID">
                            <title class="style-7">AvitoIcon Icon</title>
                            <path d="M14.4 6.3l4.4-1.4c.1 0 .3-.2.3-.3 0-.1-.1-.3-.2-.3h-.1l-4.5-1.5-1.9-.6c-.2 0-.3-.1-.5-.1h-.3c-.2 0-.4 0-.6.1l-2.1.6-4 1.4h-.1c-.1 0-.2.2-.2.3 0 .1.1.2.2.3h.1l4 1.4 2.2.8h.5c.2 0 .5 0 .7-.1l.3-.1 1.8-.5zm6.7.6c-.4-.3-.6-.4-1-.4-.2 0-.4 0-.6.1l-5.6 1.7c-.9.2-1.5 1-1.5 1.9v9.4c0 .7.3 1.2.9 1.6.6.4 1.3.4 1.9.2l5.6-2.2c.8-.3 1.1-1 1.1-1.8v-9c0-.6-.3-1.1-.8-1.5M9.8 8.1L3.4 6c-.1 0-.2-.1-.4-.1-.3 0-.3.1-.6.3-.3.3-.5.7-.5 1.1v9.8c0 .6.1 1.1.6 1.3l6.4 2.9c.4.2.9.1 1.3-.1.4-.3.6-.7.6-1.1V9.4c0-.6-.4-1.1-1-1.3" class="style-8"></path>
                        </svg><span class="line">|</span></a></li>
                <li class="style-9"><a href="https://www.avito.ma/fr/maroc" class="style-10">Avito</a></li>
                <li class="style-11"><a href="https://www.moteur.ma/fr/neuf/fiche-technique-prix/?utm_source=avito&amp;utm_medium=black-header" class="style-12">AutoNeuf</a></li>
                <li class="style-13"><a href="https://immoneuf.avito.ma/fr/" class="style-14">ImmoNeuf</a></li>
                <li class="style-15"><a href="https://credit-immo.avito.ma/creditimmobilier/simulateur/comparateur?utm_source=avito&amp;utm_medium=blackheader" class="style-16">Simulateur crédit Immobilier</a></li>
                <li class="style-17"><a href="https://www.avito.ma/fr/boutiques/maroc/" class="style-18">Boutique</a></li>
                <li class="style-19"><a href="https://magazine.avito.ma/" class="style-20">Magazine</a></li>
                <li class="style-21"><a href="https://aide.avito.ma" class="style-22"><svg class="style-23" height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="CustomerServiceTitleID">
                            <title class="style-24">CustomerService Icon</title>
                            <path fill="none" d="M0 0h24v24H0z" class="style-25"></path>
                            <path d="M21 8a2 2 0 012 2v4a2 2 0 01-2 2h-1.062A8.001 8.001 0 0112 23v-2a6 6 0 006-6V9A6 6 0 106 9v7H3a2 2 0 01-2-2v-4a2 2 0 012-2h1.062a8.001 8.001 0 0115.876 0H21zM7.76 15.785l1.06-1.696A5.972 5.972 0 0012 15a5.972 5.972 0 003.18-.911l1.06 1.696A7.963 7.963 0 0112 17a7.963 7.963 0 01-4.24-1.215z" class="style-26"></path>
                        </svg>Aide et renseignements</a></li>
            </ul>
        </div>
    </div>
    <div class="style-27">
        <div class="style-28"><a href="https://www.avito.ma" class="style-29">
                <div class="style-30">
                    <div class="style-31"><img alt="" aria-hidden="true" role="presentation" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwIiBoZWlnaHQ9IjU2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg==" class="style-32" />
                    </div><img alt="avito.ma logo" src="assets/images/image.jpg" decoding="async"  class="style-33" />
                </div>  
            </a></div>
        <div class="style-34">
            <ul class="style-35">
                <li class="style-36"><a class="style-37">العربية<svg class="style-38" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="TranslateTitleID">
                            <title class="style-39">Translate Icon</title>
                            <path d="M5.164 14.12l-.534 1.308H2.714l3.162-7.094h1.917l3.09 7.094h-1.99l-.524-1.307H5.164zm1.613-3.992l-1.068 2.625h2.115l-1.047-2.625z" class="style-40"></path>
                            <path fill-rule="evenodd" d="M2.74 3h18.52C22.77 3 24 4.19 24 5.652v12.696C24 19.811 22.77 21 21.26 21H2.74C1.23 21 0 19.81 0 18.348V5.652C0 4.19 1.229 3 2.74 3zm0 16.607H12V4.394H2.74c-.717 0-1.3.564-1.3 1.258v12.697c0 .693.583 1.258 1.3 1.258zM20.2 8.284h-1.6c-.24 0-.467.028-.68.083-1.227.458-1.84 1.276-1.84 2.456 0 .527.12.985.36 1.373v.042a.308.308 0 00-.16.041c-.613.333-.92.819-.92 1.457 0 .215.027.423.08.624.26.75.753 1.124 1.48 1.124h2.4l.08-.042c-.393-.804-.82-1.207-1.28-1.207h-1.28c-.193 0-.327-.11-.4-.333.027-.332.16-.499.4-.499h3.28c.053 0 .08-.028.08-.083v-1.082c0-.049-.027-.077-.08-.083h-1.88c-.547 0-.907-.417-1.08-1.25 0-.138.013-.207.04-.207 0-.569.373-.957 1.12-1.166h.72c.427 0 .84-.388 1.24-1.165 0-.048-.027-.076-.08-.083z" clip-rule="evenodd" class="style-41"></path>
                        </svg></a></li>
                <li class="style-42"><span class="style-43"><span class="style-44">Se connecter</span></span></li>
                <li class="style-45"><button type="button" class="style-46"><span class="style-47"><svg class="style-48" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="AddTitleID">
                                <title class="style-49">Add Icon</title>
                                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6z" class="style-50"></path>
                            </svg></span>Déposer une annonce</button></li>
            </ul>
        </div>
    </div>
</nav>  